*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.3s;
}

@font-face{
    font-family: Selena;
    src: url(Fonts/Selena.ttf);
}

@font-face{
    font-family: Gotham;
    src: url(Fonts/Gotham-Font/Gotham-Bold.otf);
}

@font-face{
    font-family: Gotham;
    font-weight: lighter;
    src: url(Fonts//Gotham-Light.otf);
}
/* 
@font-face{
    font-family: Gotham;
    font-weight: normal;
    src: url(Fonts/GothamMedium.ttf);
} */

@font-face{
    font-family: SF;
    src: url(Fonts/SF/SF-Pro-Display-Regular.otf)
}
@font-face{
    font-family: SF;
    font-weight: lighter;
    src: url(Fonts/SF/SF-Pro-Display-Thin.otf)
}


@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-decoration-style: none;
}


#appleholder{
    display: flex;
    margin: 0px 0px;
    text-align: center;
}

.artwork{
    /* background-color: black; */
    background-image: url("");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: 50% 50%;
    height: 55px;
    width: 55px;

}

.banner{
    position: relative;
}
#beatstarsholder{
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.bodycontent{
    background-image: linear-gradient(rgb(49, 1, 86), rgb(22, 22, 22)), url('');
}

#bio{
    /* background-color: yellow; */
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
    margin-left: 300px;
}

.bodycontent{
    display: flex;
    flex: 0.83;
    flex-direction: column;
}

.buttons{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 30px;
}

#contact{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
}

.content{
    /* background-color: red; */
    margin: 40px 0px;
    margin-right: 0px;
}

.content li{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.content p{
    /* background-color: blue; */
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.38889;
}

.contentParagraphLeft{
    /* background-color: coral; */
    margin-right: 50px;
}

.contentParagraphRight{
    /* background-color: coral; */
    margin-right: 0px;
    margin-left: 50px;
}

.contentHolder{
    /* background-color: chartreuse; */
    display: flex;
    margin: 138px 50px;
}

#day{
    display: block;
}

.ellipsis{
    color: #fff;
    transition: 500ms;
}

.ellipsis:hover{
    color: #1db954;
}
#exp{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
    margin-right: 200px;
    margin-left: 0px;
}

.exp_icons{
    /* background-color: darkorange; */
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px;
}

#night{
    display: none;
    background-color: coral;
}

.heart{
    color: white;
    transition: 500ms;
}

.heart:hover{
    color: #1db954;
}

.heartAndTime{
    align-items: center;
    display: flex;
    flex: 0.1;
    flex-direction: row;
}

h1{
    color: hsl(0, 0%, 13%);
    font-family: Selena;
    font-size: 60px;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}

h2{
    color: hsl(0, 0%, 13%);
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    padding: 30px;
    text-align: center;
}

h1 ~ h2{
    padding-top: 10px;
}

header{
    z-index: 1;
}

i{
    font-size: 40px;
    margin: 10px;
}

.iconBox{
    padding: 20px;
    text-align: center;
}

.iconBox img{
    position: relative;
    transition: all 0.3s;
}

.iconBox img:hover{
    opacity: 0.5;
    transform: scale(0.9);
}

.iconBox img:hover ~ p{
    opacity: 1;
}

.iconBox p{
    opacity: 0;
}

li{
    margin: 7px 0px;
}

.likeBtn{
    background-color: #303030;
    border: 1px solid white;
    border-radius: 100px;
}

.logo > img{
    margin: 30px 13px;
    width: 70%;
}



main{
    z-index:0;
}

#mentor{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
    /* margin-left: 300px; */
}

.mentorPicture{
    margin: 0;
}

.MessageHeader{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 30px;
    position: absolute;
    /* text-align: center; */
    /* left: 0px; */
    left: 0;
    bottom: 0;
}
.MessageHeader h1{
    color: white;
    font-family: 'Gotham';
    font-size: 80px;
    left: 0;
    padding: 0;
    text-align: left;
}
.MessageHeader p{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    max-width: 820px;
    text-align: left;
}

.middle{
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
    position: absolute;
    text-align: center; 
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.moreBtn{
    background-color: #303030;
    border: 1px solid white;
    border-radius: 100px;
}

#music{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
}

.names{
    display: flex;
    flex: 0.3;
    flex-direction: column;
}

.numAndart{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 0.1;
    justify-content: space-evenly;
}

.option p, strong{
    margin: 7px 13px;
}

p{
    font-family: 'SF';
}

.playBtn{
    transition: 500ms;
}

.playBtn:hover{
    transform: scale(1.1);
}

.playlist{
    color: rgb(128, 128, 128);
    font-family: Gotham;
    margin: 10px 13px;
    transition: 500ms;
}

.playlist > p:hover{
    color: #1db954;
    cursor: pointer;
}

#scholder{
    text-align: center;
    overflow: hidden;
    height: 300px;
    width: 500px;
}

.sidebar{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 0.17;
}

.sidebar p{
    color: rgb(179, 179, 179);
}

.song{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    transition: 500ms;
}
.song:hover{
    transform: scale(1.05);
}

.song > div{
    margin: 0px 10px;
}

.songs{
    display: flex;
    flex-direction: column;
}

#strengths{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: normal;
    /* margin-right: 300px; */
}

#title{
    position: absolute;
    font-size: 90px;
    font-family: Selena;
    top: 1%;
    transition: all 0.5s;
    margin-top: 90px;
}

#titleHolder{
    height: 405px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Media/StaringAtComputerProducing.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: 50% 50%;
} 

#titleHolder img{
    position: absolute; 
    right: 0; 
    bottom: 0;
    width: auto; 
    height: auto; 
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

ul li{
    font-size: 30px;
}

.wholeThing{
    display: flex;
    flex-direction: row;
}